<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1140px"}} -->
<main class="wp-block-group">

	<!-- wp:query-title {"type":"archive","showPrefix":false} /-->

	<!-- wp:columns {"className":"archive-layout","style":{"spacing":{"blockGap":"var:preset|spacing|xx-large"}}} -->
	<div class="wp-block-columns archive-layout">

		<!-- wp:column {"width":"66.66%","className":"archive-layout__main","style":{"spacing":{"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"default"}} -->
		<div class="wp-block-column archive-layout__main" style="flex-basis:66.66%">

			<!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","inherit":true},"layout":{"type":"default"},"className":"archive-stories"} -->
			<div class="wp-block-query archive-stories">
				<!-- wp:post-template {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|x-large","left":"var:preset|spacing|large"}}},"layout":{"type":"grid","columnCount":3}} -->
					<!-- wp:ucf-today/story {"variant":"stacked"} /-->
				<!-- /wp:post-template -->

				<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
					<!-- wp:query-pagination-previous /-->
					<!-- wp:query-pagination-numbers /-->
					<!-- wp:query-pagination-next /-->
				<!-- /wp:query-pagination -->

				<!-- wp:query-no-results -->
					<!-- wp:paragraph -->
					<p>No stories were found.</p>
					<!-- /wp:paragraph -->
				<!-- /wp:query-no-results -->
			</div>
			<!-- /wp:query -->

		</div>
		<!-- /wp:column -->

		<!-- wp:column {"width":"33.33%","className":"archive-layout__sidebar"} -->
		<div class="wp-block-column archive-layout__sidebar" style="flex-basis:33.33%">

			<!-- wp:ucf-today/resource-links {"showDescription":false} /-->

			<!-- wp:group {"className":"resources-menu","layout":{"type":"constrained"}} -->
			<div class="wp-block-group resources-menu">
				<!-- wp:heading {"level":2,"className":"resources-menu__heading"} -->
				<h2 class="resources-menu__heading">Resources</h2>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:group -->

		</div>
		<!-- /wp:column -->

	</div>
	<!-- /wp:columns -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
