<!-- wp:template-part {"slug":"header-post","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

  <!-- wp:group {"tagName":"article"} -->
  <article class="wp-block-group">

		<!-- wp:group {"tagName":"article", "layout":{"type":"constrained"}} -->
		<div class="is-layout-constrained">

			<!-- wp:post-featured-image /-->

    	<!-- wp:ucf-today/post-highlights /-->

    	<!-- wp:post-content /-->

			<!-- wp:ucf-today/tag-cloud /-->

		</div>
		<!-- /wp:group -->

		<!-- wp:group {"tagName":"footer"} -->
		<footer class="wp-block-group">

		<!-- wp:pattern {"slug":"ucf-news-block-theme/related-stories"} /-->

		</footer>
		<!-- /wp:group -->

  </article>
  <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
