.related-stories {
  max-width: 950px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100%;
  margin-bottom: 3rem;

  hr {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: 0;
  }

  .wp-block-separator {
    margin-bottom: 3rem;
  }

  .related-stories__heading,
  .wp-block-heading {
    font-family: inherit;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
	margin-top: 3rem;

    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }

  .related-stories__query {
    .wp-block-post-template {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--wp--preset--spacing--medium);

      @media (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
